[core]
    editor = vim
    whitespace = fix,-indent-with-non-tab,trailing-space
	autocrlf = input
	excludesfile = ~/.gitignore_global
	attributesfile = ~/.gitattributes
[user]
	name = Katorly
	email = i@katorly.com
	signingkey = ~/.ssh/github_signing.pub
[gpg]
	format = ssh
[commit]
	gpgsign = true
[color]
    ui = auto
[pull]
	rebase = true
[fetch]
	prune = true
[diff]
    tool = vimdiff
    colorMoved = zebra
[merge]
    tool = vimdiff
[push]
    default = simple